*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#151415;
}

/* Banner  */

.banner{
    margin: 30px 80px;
    /* border: 1px solid wheat; */
}

.logo{
    width: 230px;
    margin-left: 50px;
}


.buscar{
    float: right;
   
}

.cartContainer{
    float: right;
    margin-left: 30px;
}

.cart{
    float: right;
    margin-top: 15px;
    margin-right: 70px;
}

.buscar input{
    margin-top: 15px;
    background-color:#151415;
    border-radius: 40px;
    width: 80px;
    color: white;
    padding-left: 20px;
    border: none;
}


/* Fin de Banner */

/* Menu */

header{
    width: 100%;
}

nav{
    width: 100%;
}

nav ul{
    list-style: none;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li a{
    text-decoration: none !important;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
   
    
}

nav ul li .home {
    color:  #d8b14b;
    text-decoration: underline 3px !important;
}

nav ul li a:hover{
    color: white;
}

/* Fin de Menu */

/* Carrousel */

#carouselExampleIndicators{
    width: 80%;
    margin: 0 auto;
}

.carousel-item{
    height: 350px !important;
}

/* Carrousel */

.promociones{
    margin: 20px 120px;
}

.promociones h2{
    color:  #d8b14b;
    font-size: 23px;
}

/*Cards */


.cards{
    display: flex;
    gap:20px;
}

.card{
    background-color: whitesmoke;
    border-radius: 20px;
    height: 250px;
}

.card img{
    border-radius: 20px;
    height: 150px;
}

.card-title{
    color: #d8b14b !important;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.card-text{
    color: black;
    float: left;
    padding-left: 20px;
    padding-right: 5px;
    font-size: 20px;
    font-weight: bold;
}

.desc{
   color: black !important;
   padding-top: 7px;
   font-weight: bold;
}

/*Fin de Cards*/

/* Footer */

.footer{
   background-color:  #151415;
   padding: 40px 0;
   
}

.footer img{
    width: 170px;
}

.contenedor{
    max-width: 1170px;
    margin: auto;
}

.footer ul{
    list-style: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 35px;
    
}

.footer ul li a{
    font-size: 13px;
    color: #eae9e8;
    line-height: 30px;
    text-decoration: none;
}

.footer-col .iconos a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    background-color: white !important;
    border: 1px solid white;
}

/*Botones */





/*Sobre Nosotros*/

.nosotrosBackground{
    background-image: url(./assets/img/productos/sobreNosotros.jpg);
    
}

.nosotros{
    margin: 40px 500px;
    background-color: white;
    height: 30vh;
    width: 500px;
    border-radius: 20px;
    margin-bottom: 100px;
}

.nosotrosTexto h3{
    color: black;
    text-align: center;
    padding-top: 15px;
    font-size: 35px;
    
}

.nosotrosTexto p{
    color: black;
    text-align: center;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    
}


